
/***********************************
nav-bar
***********************************/

.navbar-brand {
	/*padding: 2px 20px 0;*/
	margin-right: 30px;
}

.navbar-brand-text{
	font-size: 28px;
	/*padding: 25px 5px 0 5px;*/
	margin-top: 25px;
	font-weight: 500;
}

.navbar-brand a{
	float: left;
	display: inline-block;
}

.navbar-brand > img {
	float: left;
	position: relative;
    display: inline-block;
    margin: -13px 5px;
}

.nav.navbar-nav{
	font-size: 15px;
}

/*
page styles
*/
.page-header{
	color: #428bca;
}

.sub-header{
	color: #6D6D6D;
	border: none;
}

.git-deploy-logo{
	margin-top: 50px;
	font-size: 48px;
	font-weight: bold;
	color: #337ab7;
}

.index-bg{
	height: 100%;
	min-height: 100%;
	
}

.navbar-fixed-top {
  border: 0;
  border-bottom: 1px solid #B1C4D5;
  background-color: #FFFFFF;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    
    border-right: 1px solid #B1C4D5;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}